@charset "uft-8";
/* CSS Document */

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html body {
    font-family: 'Noto Sans JP', sans-serif;
}

/* Body styling */

main {
    display: block;
    width: 100%;
    height: auto;
    margin: 0 auto;
    padding: 0;
}

.hero-image {
    display: block;
    width: 375px;
    height: 230px;
    margin: 25px auto;
    background: url(../images/receptionist-ria.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
}

.h1 {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 3.5em;
    text-align: center;
    font-weight: bold;
    color: #fff;
    background-color: #bababa;
}

.flex-container {
    display: block;
    width: 100%;
    height: auto;
    margin: 0 auto;
    padding: 0;
}

.jobs-tekst {
    display: block;
    margin: 25px 20px 0 20px;
}

.jobs-p {
    font-size: 14px;
    min-width: 70vw;
    max-width: 50vw;
    margin: 25px auto;
}

.jobs-a {
    font-size: 14px;
    color: #000;
}

.jobs-a:visited {
    color: #000;
}

.jobs-a:active {
    color: #000;
}

.bottom-perleboard {
    display: block;
    width: 100%;
    height: 30px;
    margin: 0;
    background-image: url(../logo/Perleboard.png);
    background-position: center;
    background-repeat: repeat;
    background-size: contain;
}

/* Media Queries */

@media (min-width: 1115px) {

    .hero-image {
        display: block;
        width: 575px;
        height: 430px;
        margin: 25px auto 10px auto;
    }

    .jobs-p {
        font-size: 17px;
    }

    .jobs-a {
        font-size: 17px;
    }

    .flex-container {
        display: block;
        width: 100%;
        height: auto;
        margin: 0 auto;
        padding: 0;
    }

    .bottom-perleboard {
        display: block;
        width: 100%;
        height: 30px;
        background-image: url(../logo/Perleboard.png);
        background-position: center;
        background-repeat: repeat;
        background-size: contain;
    }

    .link {
        font-size: 17px;
    }
}