@charset "uft-8";
/* CSS Document */

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html body {
    font-family: 'Noto Sans JP', sans-serif;
}

/* Body styling */

main {
    display: block;
    width: 100%;
    height: auto;
    margin: 0 auto;
    padding: 0;
}

.hero-images {
    display: block;
    min-width: 375px;
    height: 13.5em;
    margin: 10px 0;
    background: url(../images/servicecenter-KNI-Sisimiut-1-.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
}

.h1 {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 3.5em;
    text-align: center;
    font-weight: bold;
    color: #fff;
    background-color: #bababa;
}

.flex-container {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    align-content: space-between;
    width: 100%;
    height: auto;
    margin: 0;
    padding: 0;
}

.fe-boxes {
    display: block;
    width: 300px;
    height: auto;
    margin: 25px 10px;
}

h2 {
    font: bold;
    font-size: 1.2em;
    color: #002559;
}

img {
    width: 300px;
    height: 200px;
    margin: 15px 0;
}

.links {
    display: block;
    font-size: 14px;
    font-weight: bold;
    color: #000;
    margin: 5px 0 0 0;
}

p {
    font-size: 14px;
}

.bottom-perleboard {
    display: block;
    width: 100%;
    height: 30px;
    background: url(../logo/Perleboard.png);
    background-position: center;
    background-repeat: repeat;
    background-size: contain;
}

/* Media Queries */

@media (min-width: 1115px) {

    .hero-images {
        min-width: auto;
        height: 250px;
    }
    
    .flex-container {
        justify-content: center;
        align-items: flex-start;
        align-content: space-between;
    }

    .fe-boxes {
        margin: 25px;
    }

    .bottom-perleboard {
        display: block;
        width: 100%;
        height: 30px;
        background: url(../logo/Perleboard.png);
        background-position: center;
        background-repeat: repeat;
        background-size: contain;
    }
}