@charset "uft-8";
/* CSS Document */

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html body {
    font-family: 'Noto Sans JP', sans-serif;
}

/* Body styling */

main {
    display: block;
    width: 100%;
    height: auto;
    margin: 0 auto;
    padding: 0;
}

.hero-image {
    display: block;
    width: 375px;
    height: 230px;
    margin: 25px auto;
    background: url(../images/servicecenter-KNI-Sisimiut-1-Enhanced.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
}

.h1 {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 3.5em;
    text-align: center;
    font-weight: bold;
    color: #fff;
    background-color: #bababa;
}

.mobile-flex-container {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    align-content: space-between;
    width: 100%;
    height: auto;
    margin: 0;
    padding: 0;
}

.om-tekst {
    display: block;
    margin: 25px 10px 0 10px;
}

.om-p {
    font-size: 14px;
    min-width: 70vw;
    max-width: 50vw;
    margin: 25px auto;
}

.dropbtn {
    background-color: #E94E1B;
    color: white;
    padding: 16px;
    font-size: 16px;
    border: none;
    cursor: pointer;
  }
  
.dropbtn:hover, .dropbtn:focus {
    background-color: #0073B1;
}

.dropdown {
    display: inline-block;
    margin: 0 auto;
    padding: 0;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f1f1f1;
    min-width: 160px;
    overflow: auto;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}

.dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}

.dropdown a:hover {
    color: #fff;
    background-color: #224471;
}

.show {
    display: block;
}

.mobile-bottom-perleboard {
    display: block;
    width: 100%;
    height: 30px;
    margin: 50px 0 0 0;
    background-image: url(../logo/Perleboard.png);
    background-position: center;
    background-repeat: repeat;
    background-size: contain;
}

.pc-flex-container {
    display: none;
}

/* Media Queries */

@media (min-width: 1115px) {

    .hero-image {
        display: block;
        width: 575px;
        height: 430px;
        margin: 25px auto 10px auto;
    }

    .om-p {
        font-size: 17px;
    }

    .mobile-flex-container {
        display: none;
    }

    .pc-flex-container {
        display: block;
        width: 100%;
        height: auto;
        margin: 0 auto;
        padding: 0;
    }

    .pc-bottom-perleboard {
        display: block;
        width: 100%;
        height: 30px;
        background-image: url(../logo/Perleboard.png);
        background-position: center;
        background-repeat: repeat;
        background-size: contain;
    }
}